html {
  box-sizing: border-box;
  font-size: 62.5%; }

* {
  box-sizing: inherit;
  margin: 0; }

body {
  margin: 0;
  font-family: Relaway, Arial, sans-serif; }

ul {
  margin: 0;
  padding: 0; }

li {
  font-size: 1.2rem;
  list-style: none; }

a {
  text-decoration: none; }

time {
  padding: 1rem; }

img {
  width: inherit;
  /* IEB */
  max-width: 100%;
  height: auto; }

.content-header {
  background-image: url(../imgs/header.jpg);
  background-size: cover; }

.blog-name {
  text-align: center;
  padding: 6rem 0; }

.logo-blog {
  width: 35%; }

.social-nav {
  position: absolute;
  right: 10px;
  top: 5px; }
  .social-nav li {
    display: inline-block; }
  .social-nav a {
    color: #fff;
    font-size: 23px; }
    .social-nav a .fa-facebook-square {
      margin-right: 5px; }

.main-nav {
  background-color: #39CA74;
  width: 100%; }
  .main-nav ul {
    text-align: center; }
  .main-nav li {
    display: inline-block;
    padding: 8px; }
  .main-nav a {
    color: #fff;
    font-size: 1.5rem; }

@media (min-width: 750px) {
  .social-nav a {
    font-size: 30px; }

  .main-nav
  li {
    padding: 10px 30px; }
    .main-nav
    li a {
      font-size: 2.5rem; } }
.news {
  margin: 30px 0; }

.previews {
  padding: 1.5rem; }

.preview-news {
  box-shadow: 0px 0px 13px #C2BEBE;
  margin-bottom: 1.3rem;
  padding-bottom: 1rem; }
  .preview-news h3 {
    font-size: 1.9rem;
    padding: 1rem; }
  .preview-news p {
    font-size: 1.5rem;
    padding: 1rem; }
  .preview-news a {
    padding: 1rem; }

.pagination span {
  display: block;
  text-align: center;
  font-size: 1.3rem; }
.pagination .controls {
  padding: 0 10.9rem;
  text-align: center; }
  .pagination .controls li {
    display: inline-block;
    margin-top: 6px;
    padding: 1rem;
    background-color: #07A280; }
    .pagination .controls li a {
      color: #FFF; }

@media (min-width: 550px) {
  .previews {
    padding: 0.5rem; }

  .preview-news {
    display: inline-block;
    margin: 0.8rem;
    width: 46%; }

  .img-new {
    width: 100%; } }
@media (min-width: 750px) {
  .news {
    float: left;
    width: 70%; }

  .pagination {
    font-size: 1.5rem; }
    .pagination span {
      padding: 1rem 2rem; }
    .pagination a {
      font-size: 1.6rem; } }
@media (min-width: 1100px) {
  .preview-news {
    width: 30%; }
    .preview-news a {
      font-size: 1.4rem; } }
.recent-news {
  padding: 1.5rem; }
  .recent-news p {
    font-size: 1.5rem;
    padding: 1rem 0; }

.recents {
  display: inline-block;
  margin-left: 2rem;
  width: 90%; }
  .recents li {
    border-bottom: 1px solid #07A280;
    padding: 1rem 0;
    width: 80%; }
    .recents li a {
      font-size: 1.5rem; }

.recent-date {
  display: block;
  padding: 0.5rem 0; }

@media (min-width: 600px) {
  .recents li {
    width: 50%; } }
@media (min-width: 750px) {
  .recent-news {
    float: right;
    margin-top: 30px;
    padding: 0;
    width: 30%; }
    .recent-news p {
      font-size: 2rem; }

  .recents {
    margin-left: 0; }
    .recents li {
      width: 100%; }
      .recents li a {
        font-size: 2rem; }

  time {
    font-size: 1.3rem; } }
footer {
  background-color: #65CA46;
  height: 5rem; }

.copy {
  padding: 1rem;
  position: absolute;
  font-size: 1.2rem; }

.social {
  position: absolute;
  right: 10px;
  margin-top: 5px; }
  .social li {
    display: inline-block; }
  .social a {
    color: #fff;
    font-size: 23px; }

@media (min-width: 750px) {
  footer {
    display: inline-block;
    position: relative;
    width: 100%; }

  .copy {
    font-size: 1.5rem; }

  .social a {
    font-size: 30px; } }
article {
  padding: 1.5rem; }
  article h2 {
    font-size: 2.6rem;
    padding: 1.7rem 0; }
  article span {
    font-size: 1.4rem; }
  article a {
    font-size: 1.4rem; }
  article p {
    font-size: 1.5rem;
    margin: 10px 0; }

.article-date {
  font-size: 1.4rem;
  padding: 0;
  display: block; }

@media (min-width: 750px) {
  article {
    width: 65%;
    float: left; }

  .img-article {
    width: 100%; } }
@media (min-width: 1100px) {
  article p {
    font-size: 2rem; } }

/*# sourceMappingURL=styles.css.map */
