// 
// Estilos para los elementos base
//

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

* {
	box-sizing: inherit;
	margin: 0;
}

body {
	margin: 0;
	font-family: $sans;
}

ul {
  margin: 0;
  padding: 0;
}

li {
	list-style: none;
}

a {
    text-decoration: none;
}

//li - p - a 


img {
	width: inherit; /* IEB */
	max-width: 100%;
	height: auto;
}