.recent-news {
	padding: 1.5rem;
	p {
		font-size: 1.5rem;
    	padding: 1rem 0;
	}
}

.recents {
    display: inline-block;
    margin-left: 2rem; 
    width: 90%;
    li {
    	border-bottom: 1px solid #07A280;
    	padding: 1rem 0;
    	width: 80%;
    	a {
    		font-size: 1.5rem;
    	}
    }
}

.recent-date {
    display: block;
    padding: 0.5rem 0;
}

@media (min-width: 600px) {
    .recents li {
        width: 50%;
    }
}

@media (min-width: 750px) {
    .recent-news {
        float: right;
        margin-top: 30px;
        padding: 0;
        width: 30%;
        p {
            font-size: 2rem;
        }
    }
    .recents {
        margin-left: 0;
        li {
            width: 100%;
            a {
                font-size: 2rem;
            }
        }
    }
    time {
        font-size: 1.3rem;
    }
}
