.blog-name {
	text-align: center;
	padding: 6rem 0;
}

.logo-blog {
	width: 35%;
}

.social-nav {
	position: absolute;
	right: 10px;
	top: 5px;
	li {
		display: inline-block;
	}
	a {
		color: #fff;
		font-size: 23px;
		.fa-facebook-square {
            margin-right: 5px; 
		}
	}
}

.main-nav {
	background-color: #39CA74;
	width: 100%;
	ul {
		text-align: center;
	}
	li {
		display: inline-block;
		padding: 8px; 
	}
	a {
		color: #fff;
		font-size: 1.5rem;
	}
}


@media (min-width: 750px) {
	.social-nav a {
		font-size: 30px;
    }
    .main-nav 
    li {
    	padding: 10px 30px; 
    	a {
    		font-size: 2.5rem;
    	}
    }
}